@charset "utf-8";
/* CSS Document */
body { margin:0; padding: 0; font-family: arial, sans-serif; background-color: #FDFDFD; }
#mask { display: none; position: absolute; z-index: 1000; width: 100%; height: 100%; background-color: transparent; /**/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /*IE8*/
    filter:alpha(opacity=30); /*IE5、IE5.5、IE6、IE7*/
    opacity: .3; /*Opera9.0+、Firefox1.5+、Safari、Chrome*/; }
#navi { float: left; width: 100%; background-color: #C3D9FF; }
#navi ul { float: left; display: inline; margin: 6px 0 0 0; padding: 0; list-style-type: none; height:100%; }
#navi ul li { display: block; float: left; margin-top: 2px; margin-left: 0px; margin-right: 2px; text-align: center; line-height: 30px; width: 56px; height: 30px; }
.navi_elem { background-color: transparent; font-size: 15px; font-weight: bold; color: #666; /*
    border-top: solid 1px #C3D9FF; border-left: solid 1px #C3D9FF; border-right: solid 1px #C3D9FF; */; }
.navi_elem_mouseover { font-size: 15px; font-weight: bold; cursor: default; color: white; background: #4169E1; border-top-left-radius: 4px; border-top-right-radius: 4px; /*
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98B0DA', endColorstr='#C3D9FF'); background: -moz-linear-gradient(top, #98B0DA, #C3D9FF); background: -webkit-gradient(linear,top,from(#98B0DA),to(#C3D9FF)); background: -webkit-linear-gradient(top, #98B0DA, #C3D9FF); background: -o-linear-gradient(top, #98B0DA, #C3D9FF); border-top-left-radius: 4px; border-top-right-radius: 4px; border-top: solid 1px #C3D9FF; border-left: solid 1px #C3D9FF; border-right: solid 1px #C3D9FF; */; }
.navi_elem_focus { background-color: white; font-size: 15px; font-weight: bold; cursor: default; color: black; border-top-left-radius: 4px; border-top-right-radius: 4px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1FAFA', endColorstr='#FDFDFD'); background: -moz-linear-gradient(top, #F1FAFA, #FDFDFD); background: -webkit-gradient(linear,top,from(#F1FAFA),to(#FDFDFD)); background: -webkit-linear-gradient(top, #F1FAFA, #FDFDFD); background: -o-linear-gradient(top, #F1FAFA, #FDFDFD); /*
    border-top: solid 1px #C3D9FF; border-left: solid 1px #C3D9FF; border-right: solid 1px #C3D9FF; */; }
.navi_elem_focus_mouseover { }

#content, #content_title, #content_body { width: auto !important; width: 100%; }

/* plog */
#plog_root { width: auto !important; width: 100%; padding: 0 10px 0 10px !important; padding: 0; }
#plog_body { margin-left: 0 !important; margin-left: 10px; }
#plog_body textarea { display: none; float: left; width: 100% !important; width: 95%; height: 600px; overflow: auto; padding: 5px; font-size: 13px; background-color: white; word-break: break-all; word-wrap: break-word; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; transition: all 0.10s ease-in-out; -webkit-transition: all 0.10s ease-in-out; -moz-transition: all 0.10s ease-in-out; border:1px solid #C3D9FF; border-radius: 0px; outline: none; }
#plog_body textarea:focus{ box-shadow:0 0 5px rgba(103,166,217,1); -moz-box-shadow:0 0 5px rgba(103,166,217,1); -webkit-box-shadow:0 0 5px rgba(103,166,217,1); -o-box-shadow:0 0 5px rgba(103,166,217,1); }
#plog_toolbar { float: left; clear: both; margin-top: 20px; margin-bottom: 5px; margin-right: 0px; margin-left: 0 !important; margin-left: 5px; background: #E0E6EC; filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#E0E6EC'); background: -moz-linear-gradient(top, #FDFDFD, #E0E6EC); background: -webkit-gradient(linear,top,from(#FDFDFD),to(#E0E6EC)); background: -webkit-linear-gradient(top, #FDFDFD, #E0E6EC); background: -o-linear-gradient(top, #FDFDFD, #E0E6EC); }
#plog_toolbar div span { display: none; }
.pt { display:block; float:left; width:30px; height:30px; background-image: url('../img/t_icons.png'); background-repeat: no-repeat; background-color: transparent; }

.pt_d_normal   { background-position: 0px 0px; }
.pt_d_hover    { background-position: 0px -30px; }
.pt_d_disabled { background-position: 0px -60px; }
.pt_d_checked  { background-position: 0px -90px; }

.pt_m_normal   { background-position: -30px 0px; }
.pt_m_hover    { background-position: -30px -30px; }
.pt_m_disabled { background-position: -30px -60px; }
.pt_m_checked  { background-position: -30px -90px; }

.pt_y_normal   { background-position: -60px 0px; }
.pt_y_hover    { background-position: -60px -30px; }
.pt_y_disabled { background-position: -60px -60px; }
.pt_y_checked  { background-position: -60px -90px; }

#pt_d_t { float:left; display: none; }

.pt_d_t_s_normal   { background-position: -90px 0px; }
.pt_d_t_s_hover    { background-position: -90px -30px; }
.pt_d_t_s_disabled { background-position: -90px -60px; }
.pt_d_t_s_checked  { background-position: -90px -90px; }

.pt_d_t_p_normal   { background-position: -120px 0px; }
.pt_d_t_p_hover    { background-position: -120px -30px; }
.pt_d_t_p_disabled { background-position: -120px -60px; }
.pt_d_t_p_checked  { background-position: -120px -90px; }

.pt_d_t_n_normal   { background-position: -150px 0px; }
.pt_d_t_n_hover    { background-position: -150px -30px; }
.pt_d_t_n_disabled { background-position: -150px -60px; }
.pt_d_t_n_checked  { background-position: -150px -90px; }

.pt_d_t_t_normal   { background-position: -180px 0px; }
.pt_d_t_t_hover    { background-position: -180px -30px; }
.pt_d_t_t_disabled { background-position: -180px -60px; }
.pt_d_t_t_checked  { background-position: -180px -90px; }

.pt_divider { display: block; float:left; width:1px; height:28px; margin:0 2px; background: #CCC; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#CCCCCC'); background: -moz-linear-gradient(top, #FBFBFB, #CCC); background: -webkit-gradient(linear,top,from(#FBFBFB),to(#CCC)); background: -webkit-linear-gradient(top, #FBFBFB, #CCC); background: -o-linear-gradient(top, #FBFBFB, #CCC); }

#pb_m, #pb_y { display: none; float:left; width: 100%; }


/* plans */
/* banks */
/* calendar */
/* settings */


/* plog button default css*/
.plbtn_base { display:block; float:left; font-size: 12px; padding: 3px 5px; color: black; border: solid 1px #CCCCCC; cursor: default; border-radius: 2px; background: #FEFEFE; filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EDEDED'); background: -moz-linear-gradient(top, #FEFEFE, #EDEDED); background: -webkit-gradient(linear,top,from(#FEFEFE),to(#EDEDED)); background: -webkit-linear-gradient(top, #FEFEFE, #EDEDED); background: -o-linear-gradient(top, #FEFEFE, #EDEDED); }
.plbtn_normal { color: black; border: solid 1px #CCCCCC; background: #FEFEFE; filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EDEDED'); background: -moz-linear-gradient(top, #FEFEFE, #EDEDED); background: -webkit-gradient(linear,top,from(#FEFEFE),to(#EDEDED)); background: -webkit-linear-gradient(top, #FEFEFE, #EDEDED); background: -o-linear-gradient(top, #FEFEFE, #EDEDED); }

.plbtn_hover { border: solid 1px #666666; }

.plbtn_disabled { color: #888888; }

.plbtn_checked { color: #888888; background: #FFFFFF; filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF'); }
