@charset "utf-8";
/* CSS Document */
body {
    margin:0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: #FDFDFD;
}
#mask {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /**/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    /*IE8*/
    filter:alpha(opacity=30);
    /*IE5、IE5.5、IE6、IE7*/
    opacity: .3;
    /*Opera9.0+、Firefox1.5+、Safari、Chrome*/;
}
#navi {
    float: left;
    width: 100%;
    background-color: #C3D9FF;
}
#navi ul {
    float: left;
    display: inline;
    margin: 6px 0 0 0;
    padding: 0;
    list-style-type: none;
    height:100%;
}
#navi ul li {
    display: block;
    float: left;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 2px;
    text-align: center;
    line-height: 30px;
    width: 56px;
    height: 30px;
}
.navi_elem {
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    color: #666;
    /*
    border-top: solid 1px #C3D9FF;
    border-left: solid 1px #C3D9FF;
    border-right: solid 1px #C3D9FF;*/
}
.navi_elem_mouseover {
    font-size: 15px;
    font-weight: bold;
    cursor: default;
    color: white;
    background: #4169E1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /*
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98B0DA', endColorstr='#C3D9FF');
    background: -moz-linear-gradient(top, #98B0DA, #C3D9FF);
    background: -webkit-gradient(linear,top,from(#98B0DA),to(#C3D9FF));
    background: -webkit-linear-gradient(top, #98B0DA, #C3D9FF);
    background: -o-linear-gradient(top, #98B0DA, #C3D9FF);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: solid 1px #C3D9FF;
    border-left: solid 1px #C3D9FF;
    border-right: solid 1px #C3D9FF;*/
}
.navi_elem_focus {
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: default;
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1FAFA', endColorstr='#FDFDFD');
    background: -moz-linear-gradient(top, #F1FAFA, #FDFDFD);
    background: -webkit-gradient(linear,top,from(#F1FAFA),to(#FDFDFD));
    background: -webkit-linear-gradient(top, #F1FAFA, #FDFDFD);
    background: -o-linear-gradient(top, #F1FAFA, #FDFDFD);
    /*
    border-top: solid 1px #C3D9FF;
    border-left: solid 1px #C3D9FF;
    border-right: solid 1px #C3D9FF;*/
}
.navi_elem_focus_mouseover {
}

#content, #content_title, #content_body {
    width: auto !important;
    width: 100%;
}

/* plog */
#plog_root {
    width: auto !important;
    width: 100%;
    padding: 0 10px 0 10px !important;
    padding: 0;
}
#plog_body {
    margin-left: 0 !important;
    margin-left: 10px;
}
#plog_body textarea {
    display: none;
    float: left;
    width: 100% !important;
    width: 95%;
    height: 600px;
    overflow: auto;
    padding: 5px;
    font-size: 13px;
    background-color: white;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.10s ease-in-out;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    border:1px solid #C3D9FF;
    border-radius: 0px;
    outline: none;
}
#plog_body textarea:focus{
    box-shadow:0 0 5px rgba(103,166,217,1);
    -moz-box-shadow:0 0 5px rgba(103,166,217,1);
    -webkit-box-shadow:0 0 5px rgba(103,166,217,1);
    -o-box-shadow:0 0 5px rgba(103,166,217,1);
}
#plog_toolbar {
    float: left;
    clear: both;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0 !important;
    margin-left: 5px;
    background: #E0E6EC;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#E0E6EC');
    background: -moz-linear-gradient(top, #FDFDFD, #E0E6EC);
    background: -webkit-gradient(linear,top,from(#FDFDFD),to(#E0E6EC));
    background: -webkit-linear-gradient(top, #FDFDFD, #E0E6EC);
    background: -o-linear-gradient(top, #FDFDFD, #E0E6EC);
}
#pt_m {
    background-position: -30px 0px;
}
#pt_y {
    background-position: -60px 0px;
}
#pt_d_t {
    float:left;
    display: none;
}
#pt_d_t_s {
    background-position: -90px 0px;
}
#pt_d_t_p {
    background-position: -120px 0px;
}
#pt_d_t_n {
    background-position: -150px 0px;
}
#pt_d_t_t {
    background-position: -180px 0px;
}
.pt_divider {
    display: block;
    float:left;
    width:1px;
    height:28px;
    margin:0 2px;
    background: #CCC;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#CCCCCC');
    background: -moz-linear-gradient(top, #FBFBFB, #CCC);
    background: -webkit-gradient(linear,top,from(#FBFBFB),to(#CCC));
    background: -webkit-linear-gradient(top, #FBFBFB, #CCC);
    background: -o-linear-gradient(top, #FBFBFB, #CCC);
}
.pt {
    display:block;
    float:left;
    width:30px;
    height:30px;
    background-image: url('../img/t_icons.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: solid 1px transparent;
    border-radius: 2px;
}
.pt span {
    display: none;
}
.pt:hover {
    border: solid 1px #4169E1;
    background: #ededed;
    background-image: url('../img/t_icons.png');
    background-image: url('../img/t_icons.png'), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background-image: url('../img/t_icons.png'), -webkit-linear-gradient(top, #fff, #ededed);
    background-image: url('../img/t_icons.png'),    -moz-linear-gradient(top, #fff, #ededed);
    background-image: url('../img/t_icons.png'),     -ms-linear-gradient(top, #fff, #ededed);
    background-image: url('../img/t_icons.png'),      -o-linear-gradient(top, #fff, #ededed);
    background-image: url('../img/t_icons.png'),         linear-gradient(top, #fff, #ededed);
}
.pt_checked {
    display:block;
    float:left;
    width:30px;
    height:30px;
    background-image: url('../img/t_icons.png');
    background-repeat: no-repeat;
    background-color: #FDFDFD;
    border: solid 1px transparent;
    border-color: #E0E6EC;
    border-radius: 2px;
    /*
    background: #FDFDFD;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E6EC', endColorstr='#FDFDFD');
    background-image: url('../img/t_icons.png');
    background-image: url('../img/t_icons.png'), -webkit-gradient(linear, left top, left bottom, from(#E0E6EC), to(#FDFDFD));
    background-image: url('../img/t_icons.png'), -webkit-linear-gradient(top, #E0E6EC, #FDFDFD);
    background-image: url('../img/t_icons.png'),    -moz-linear-gradient(top, #E0E6EC, #FDFDFD);
    background-image: url('../img/t_icons.png'),     -ms-linear-gradient(top, #E0E6EC, #FDFDFD);
    background-image: url('../img/t_icons.png'),      -o-linear-gradient(top, #E0E6EC, #FDFDFD);
    background-image: url('../img/t_icons.png'),         linear-gradient(top, #E0E6EC, #FDFDFD);*/
}
.pt_checked span {
    display: none;
}
#pb_m, #pb_y { display: none; float:left; width: 100%;}


/* plans */
/* banks */
/* calendar */
/* settings */


/* plog button default css*/
.plbtn_base {
    display:block;
    float:left;
    width:30px;
    height:30px;
    color: white;
    border: solid 1px #CCCCCC;
    border-radius: 2px;
    cursor: default;
    background-color: #DDDDDD;
}
.plbtn_normal {
    color: white;
    border: solid 1px #CCCCCC;
    background-color: #DDDDDD;
}

.plbtn_hover {
    border: solid 1px #CCCCCC;
    background-color: #EFEFEF;
}

.plbtn_disabled {
    color: gray;
    border: solid 1px #CCCCCC;
    background-color: #666666;
}

.plbtn_checked {
    border: solid 1px red;
    background-color: #DDDDDD;
}
